<!--Created by : michael.buan@asggroup.com.au 
	Date : 		 27/02/2020
	Notes :		 You can use any charts as indicated in ChartJS (https://www.chartjs.org/) 
				 This is a sample of a Pie/Donut Chart Implementation
				 Please update the scripts and styles depending on your project needs -->
<template>
    <div class="slds-box" style="background-color:white">
        <h3>Charts</h3>
        <div class="slds-size_5-of-12 slds-m-top_xx-large" style="margin:0px auto;">
            <canvas class="placeholder-chart" width="300" height="300" lwc:dom="manual"></canvas>
            <canvas class="donut real-chart" width="300" height="300" lwc:dom="manual"></canvas>
        </div>

        <div class="slds-m-top_x-large">
            <table>
                <tr>
                   <th colspan="1">
                       &nbsp;
                   </th>
                   <th colspan="1">
                        <span class="slds-form-element__label">Share(%)</span>
                       
                   </th>
                   <th colspan="2">
                        <span class="slds-form-element__label">First Name, Last Name/ Company Name</span>
                       
                   </th>
                   <th colspan="2">
                        <span class="slds-form-element__label">Contact email</span>
                   </th>
                   <th colspan="1">
                        &nbsp;
                   </th>
                </tr>
                 <template for:each={displayData} for:item="data" for:index="index">
                        <tr key={data.color} style="">
                            <td colspan="1" class="mp-chartField">
                                <span class="dot" style={data.dataStyle}></span>
                            </td>
                            <td colspan="1" style="width:85px;" class="mp-chartField">
                                <lightning-input type="number" disabled={isReadOnly} min="1" max="99" maxlength=5
                                     step="0.01" required class="mp-shareField" variant="label-hidden"
                                    onchange={handleChange} value={data.share} name={data.share} data-key={index}
                                    data-chartfield="data" message-when-range-overflow="The share is too high."
                                    message-when-range-underflow="The share is too low." message-when-step-mismatch="Invalid input." data-field="share">
                                </lightning-input>
                            </td>
                            <td colspan="2" class="mp-chartField">
                                <lightning-input message-when-value-missing="Please complete this field."
                                    placeholder="e.g. John Smith" disabled={isReadOnly} required class="chart-name"
                                    variant="label-hidden" type="text" value={data.sfAccountName}
                                    name={data.sfAccountName} data-chartfield="label" data-field="sfAccountName"
                                    onchange={handleChange} data-key={index}> </lightning-input>
                            </td>
                            <td colspan="2" class="mp-chartField">
                                <lightning-input message-when-type-mismatch="Please enter a valid email."
                                    placeholder="e.g. name@email.com" disabled={isReadOnly} class="chart-email"
                                    variant="label-hidden" type="email" value={data.email} name={data.email}
                                    data-field="email" onchange={handleChange} data-key={index}>
                                </lightning-input>
                            </td>
                            <td colspan="1" class="mp-btn-padding">
                                <lightning-button-icon class="mp-chart-icon btn-icon-size" disabled={isReadOnly}
                                    icon-name="utility:close" variant="bare" data-key={index}
                                    onclick={handleDelete}></lightning-button-icon>
                            </td>
                        </tr>
                    </template>
            </table>

            <div class="slds-grid slds-clearfix slds-size_12-of-12 slds-m-top_medium">

                <div class="slds-col slds-wrap slds-size_1-of-3" style="margin-top:7px">
                    &nbsp;
                </div>
                <div class="slds-col slds-wrap slds-size_2-of-3" if:false={acctReadOnly}>
                    <lightning-button variant="neutral" style="float:right;margin-right:7px;"
                        label="Add Shareholder" onclick={addValue}></lightning-button>
                </div>
            </div>

            </div>
        </div>
</template>