.dot {
    height:12px;
    width:12px;
    border-radius:50%;
    display:inline-block;
    margin-right:1px;
    margin-top:13px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.real-chart {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.btn-icon-size {
    width:1.2rem;
    height:1.3rem;
}

.placeholder-chart {
    position: absolute;
    z-index: 1;
}

.mp-shareField {
    text-align:right;
    font-weight:900;
}

.mp-chartField {
    padding:7px 10px 7px 0px;
    vertical-align: top;
}

.mp-chart-icon {
    margin-top:8px;
}

.mp-btn-padding {
    width:1%;
    padding-top: 15px;
    vertical-align:top
}